<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{THE_REQUEST} \s/public [NC]
    RewriteRule ^ - [L,R=404]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
